pop local 1
push local 1
pop local 0
push constant 0
pop local 2
label L0
push local 2
push local 1
lt
not
if-goto L1
push local 2
pop local 0
push local 3
push local 2
add
pop local 3
push local 2
push constant 1
add
pop local 2
goto L0
label L1
push local 3
push local 1
call Math.div 2
